.container
  h1#title Grocery Getter
  .hero-unit
    h1 Need Groceries?
    form.form-inline
      p Grocery Getter is a real time grocery list.  If you need it, just add it - it's available everywhere!
      input#user-email.span6(placeholder="Enter your email address to create your list.")
      button.btn.btn-primary Take me to my list!

  footer
    p &copy; Andrew Vida 2012
