.container
  h1#title Grocery Getter
  .hero-unit
    h1 Need Groceries?
    p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    button.btn.btn-primary Learn More

  .row
    .span4
      h2 Heading
        p This is some test code
        button.btn Add

  hr
  footer
    p &copy; Andrew Vida 2012
