!!!
html
  head
    title Grocery List
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='/grocery-list.css')
    script(src="/javascripts/jquery.js", type="text/javascript")
    script(src="/javascripts/handlebars.js", type="text/javascript")
    script(src="/socket.io/socket.io.js", type='text/javascript')

  body!= body
