body
   background: url(../images/wood2.jpg)

/*.container*/
/*  width: 600px*/


h1#title
  margin-bottom: 1em
  color: white

form
  padding: 1em
  background: whitesmoke
  border: 1px solid #DDD
  border-radius: 5px

  ul
    margin-top: 1em

  button
    margin-left: 1em

footer
  /*position: absolute*/
  /*bottom: 0*/
  /*width: 100%*/
  /*margin-top: 45px*/
  /*padding: 35px 0 36px*/

  p
    /*margin-bottom: 0*/
    color: darkgray
