h1
  margin-bottom: 1em
  color: white

form
  padding: 1em
  background: whitesmoke
  border: 1px solid #DDD
  border-radius: 5px

  button
    margin-left: 1em

body
   background: url(../images/wood.jpg)
